/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 400px;
  padding-left: 10px;
  margin: 50px auto;
  background-color: #FE0065;
  border-radius: 10px;
} */

/* .poke-list {

} */

.poke-list {
  list-style: none;
  display: block;
  list-style-type:none;
  float: left;
}

.abilities-list {
  list-style: none;
  display: block;
  list-style-type:none;
}

.sprite {
  border: 1px black solid;
  border-radius: 10px;
  margin: 5px;
  float: left;
  height: 20%;
}

.pokemonlist-container {
  border: 1px red solid;
}

span {
  float: right;
  padding-top: 5%;
  padding-right: 1%;
}
