@import url("https://fonts.googleapis.com/css?family=Oswald");


.poke-list {
  list-style: none;
}

.abilities-list {
  list-style: none;
  display: block;
}

.sprite {
  border: 1px #000 solid;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  float: left;
  background-color: #FFFF99;
}

.poke-list-name {
  width: 5em;
  padding-left: 0.25em;
}

.header-content {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 5px;
}


