@import url("https://fonts.googleapis.com/css?family=Oswald");

.poke-list {
  list-style: none;
}

.abilities-list {
  list-style: none;
  display: block;
}

.poke-dex {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-style: bold;
  size: 500px;
  /* font-weight: 700; */
}
.sprite {
  border: 1px #000 solid;
  border-radius: 10px;
  margin: 5px;
  float: left;
}

.poke-list-name {
  width: 5em;
  padding-left: 0.25em;
}

.header {
  z-index: -1;
}

.header-content {
  position: absolute;
  left: 0px;
  top: 0px;
}


